:root {
    /* définition des couleurs*/
	--primary-color: #e6fde6;
    --secondary-color: #174d2f;
    --noir: #1B1B1B;
    --blanc: #fefefe;
    --gris: #6e6e6e;
    --jaune: #ffd966;
    --rouge: #761111;
    --orange: #f4b183;
    --bleu: #8faadc;


    /* définition des polices */
    --police-ork: "Permanent Marker"; 
    --police-2: "Jaro";
    --police-3: "Black Ops One";
    --police-4: "Share Tech";
}



/* général 
*******************************************************************/

body{
    background-color: var(--noir);
    margin: 1rem;
}

a{
    text-decoration: none;
    color: unset;
}

.ligne{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 95vw;
}
.ligneNowrap{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.colonne{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centre{
    justify-content: space-around;
    align-items: center;
}
.spaceAround{
    justify-content: center;
    align-items: center;
}
.spaceBetween{
    justify-content: space-between;
    align-items: center;
}

.AlignDroite{
    justify-content: end;
}
.AlignGauche{
    justify-content: flex-start;
    align-items: flex-start;
}

h3{
    margin-top: 0;
}
h4{
    margin: .5rem 0 0 0;
}

.fondNoirRounded{
    background-color: #1B1B1B;
    border-radius: 2rem;
    padding: 4rem 1rem 1rem 1rem;
    margin: 2rem;
}


/* Marges */
.marge1{
    margin: 1rem;
}
.marge5{
    margin: 5rem;
}
.margeL1{
    margin-left: 1rem;
}
.marge-1{
    margin-top: -.3rem;
}
.margeT1{
    margin-top: 1rem;
}
.margeT5{
    margin-top: 5rem;
}
.margeT05{
    margin-top: .5rem;
}
.margeB1{
    margin-bottom: .5rem;
}
.padding2{
    padding: 2rem;
}
.borderTop{
    border-top: 1px solid black;
}

/* Polices
****************************************************************/
.policeOrk{
    font-family: var(--police-ork);
    color: var(--blanc);
}
.police2{
    font-family: var(--police-2);
}
.police3{
    font-family: var(--police-3);
}
.police4{
    font-family: var(--police-4);
}

.policeNoireTaille2{
    font-size: 2rem;
    color: #1B1B1B;
    margin: -.5rem .5rem -.5rem 0;
}
.policeNoire{
    color: #1B1B1B;
}
.policeTaille2{
    font-size: 2rem;
}
.policeTaille1{
    font-size:1rem;
}
.policeTaille15{
    font-size: 1.5rem;
}

.italique{
    font-style: italic;
}
.souligne{
    text-decoration: underline;
}

.texteCentre{
    text-align: center;
}
.texteCentreVertical{
    display: flex;
    align-items: center;
    margin: .8rem;
    font-size: 1.5rem;
    font-weight: bold;
}



/* Zones 
***********************************************************/
.AffichageTour{
    background-color: var(--gris);
    width: 70vw;
    height: 3.5rem;
    border-radius: 1rem;
    padding-left: .5rem;
    font-size: 1.5rem;
    font-family: var(--police-3);
    margin-top: 0;
    padding-top: 0;
}
.AffichageTour > p {
    margin-top: 1rem;
}
.AffichageTour > img {
    margin-top: -2rem;
}


.BasdePage{
    position: absolute;
    top: 90vh;
}
.AffichageUnites{
    background-image: url(../images/interface/background.png) ;
    background-position: center;
    background-repeat: no-repeat;
    /*height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;*/
    min-height: 100vw;
}


/* icones 
***********************************************************/
.icone{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1rem;
}

.iconesmall{
    height: 2rem;
}





/* Boutons 
************************************************************/
button{
    border: 0;
    border-radius: 1.2rem;
    height: 3.5rem;
    padding: 0 .5rem 0 .5rem;
}
.BoutonOrkMind{
    font-size: 1.8rem;
}

.BoutonFinTour{
    font-size: 1.2rem;
     
}

.BoutonRouge{
    
    background-color: var(--rouge);
}
.BoutonVert{
    background-color: var(--secondary-color); 
}
.BoutonNoir{
    background-color: var(--noir);
    color: var(--blanc);
}

.BoutonActivations, .BoutonRenforts{
    font-size: 1.2rem;
}

.BoutonActivations > p{
    margin-top: .2rem;
}

.NbActivations{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: .2rem;
    background-color: var(--gris);
    border-radius: 2rem;
    font-size: 2rem;
}

.miniBouton{
    padding-left: .5rem;
    padding-right: .5rem;
    margin-left: .2rem;
    background-color: var(--gris);
    border-radius: 2rem;
    font-size: 1rem;
}

/* Bouton menu */
.BoutonMenu{
    width: 2rem;
    height: 2rem;
    justify-self: end;
    margin-left: 1rem;
}

.BoutonMenuImage{
    object-fit: contain;
    max-height: 3.5rem;
    max-width: 3.5rem;
}

.BoutonMenuImage:hover{
    animation-name: rotationBouton;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes rotationBouton {
	0% {transform: rotateZ(0deg);}
	50% {transform: rotateZ(180deg);}
	100% {transform: rotateZ(360deg);}
}






/* Cartes unités 
**********************************************************/
.carte{
    margin: .2rem;
}
.carteImage{
    width: 25vw;
    border-radius: 1rem;
}
.carteNumero{
    margin-top: -28vw;
    margin-left: -7vw;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--jaune);
    border-radius: 2rem;
    font-size: 2rem;
    width: 1rem;
    text-align: center;
    color: #1B1B1B;
}
.carteTitre, .carteTitreS{
    color: var(--blanc);
    background-color: var(--noir);
    padding: .2rem;
    border-radius: .5rem;
    text-transform: uppercase;
}
.carteTitre{
    font-size: .9rem;
    margin-top: -1.3rem;
}
.carteTitreS{
    font-size: .65rem;
    margin-top: -1.1rem;
}
.carteTitreConfigS{
    font-size: .7rem;
}
.activee{
    opacity: 20%;
}

.ork{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 29vw;
}


/* Popups 
**************************************************************/
/* popups - général */
.popup{
    visibility: hidden; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100vw;
    height: 100vh;
}

.visible{
    visibility: visible;
}

/* Popup Renforts */
.PopupRenforts{
    background-color: var(--secondary-color);
}

/* Popup Unité */
.PopupUnite{
    background-color: var(--rouge);
}

.ZoneAffichageUnite{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

/* Popup activation */
.PopupActivation{
    background-color: var(--secondary-color);
}
.BoutonFermerActivation{
    position: fixed;
    bottom:1rem;
}
.ZoneAffichageEvenement{
    background-color: var(--noir);
    border-radius: 1rem;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: .2rem;
    margin-bottom: .2rem;
    padding: 0 1rem 0 1rem;
    color: var(--blanc);
}
.ZoneAffichageActions{
    background-color: var(--jaune);
    border-radius: 1rem;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: .2rem;
    margin-bottom: .2rem;
    padding: 0 1rem 0 1rem;
    color: #1B1B1B;
}

.PopupPlusActivation{
    background-color: var(--secondary-color);
}

.numeroCarteActive{   /*Décalage du numéro carte*/
    margin: -3rem 0 0 -3rem;
}

/* popup fin de tour */
.PopupFinTour{
    background-color: var(--rouge);
}

.ZoneAffichageMessageFin{
    padding: 1rem;
    text-align: center;
}

.BoutonFermerFinTour{
    width: 25vw;
}



/* Page config 
**********************************************/
.titreConfig{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 3rem;
    background-color: var(--secondary-color);
    border-radius: 1rem;
}

.ConfigZoneOptions{
    background-color: var(--rouge);
    padding: .5rem;
    border-radius: 1rem;
}

.ConfigZoneUnites{
    background-color: var(--jaune);
    padding: .5rem;
    margin-top: 1rem;
    border-radius: 1rem;
}

.BoutonValiderConfig{
    margin-top: 1rem;
    width: 40vw;
}

.BoutonAnnulerConfig{
    margin-top: 1rem;
    width: 40vw;
}

.carteConfig{
    width: 25vw;
    height: 25vw;
    margin: .5rem 0 2rem 0;
}

.carteConfig > .selection {
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
    background-color: var(--noir);
    padding: .2rem;
    border-radius: .5rem;
    color: var(--blanc);
}